
@font-face {
        font-family: 'BESTFONTforheader'; /* Give your font a unique name */
        src: local('SuissnordDeux-zr271.ttf'),
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    font-family: 'BESTFONTforheader',;
    text-align: center;
    background-color: rgb(45, 102, 247);
    display: flex;
    justify-content: space-between; /* pushes items to opposite ends */
    align-items: center; /* vertically centers them */
    padding: 10px 20px;
   
}
#points {
    font-family: Arial, Helvetica, sans-serif,;
    text-align: right;
    background-color: rgb(255, 223, 0);
    vertical-align: top;
}