
@font-face {
        font-family: 'BESTFONTforheader'; /* Give your font a unique name */
        src: local('SuissnordDeux-zr271.ttf'),
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    font-family: 'BESTFONTforheader',;
    text-align: center;
    background-color: rgb(45, 102, 247);
}
#points {
    font-family: Arial, Helvetica, sans-serif,;
    text-align: left;
    background-color: rgb(255, 223, 0);
}